.techs {
    background-color: #272727;
    width: 100%;
    margin-bottom: 0;
}

.block__name_techs {
    margin: 110px 70px 23px;
    padding-top: 100px;
    max-width: calc(100% - 2 * 70px);
}

.techs__theme {
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 90px auto 26px;
}

.techs__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0 auto 100px;
    max-width: 460px;
}

.techs__names {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 10px;
    max-width: 690px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    padding-left: 0;
    align-items: center;
    justify-items: center;
}

.techs__name {
    font-size: 14px;
    letter-spacing: -4%;
    vertical-align: middle;
    display: inline-block;
    background-color: #303030;
    border-radius: 10px;
    color: #FFFFFF;
    width: 90px;
    height: 39px;
    padding-top: 21px;
}

.techs__name:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .techs {
        background-color: #272727;
        margin: 0 auto;
    }
    .block__name_techs {
        margin: 110px auto 23px;
        padding-top: 100px;
        max-width: calc(100% - 2 * 40px);
    }
    .techs__text {
        margin-bottom: 83px;
    }
    .techs__names {
        padding-bottom: 90px;
    

    }
}

@media screen and (max-width: 320px) {
    .techs {
        background-color: #202020;
        margin: 0 auto;
        max-width: calc(100% - 2 * 5px);
    }
    .block__name_techs {
        margin: 110px auto 23px;
        padding-top: 100px;
        max-width: calc(100% - 2 * 18px);
    }
    .techs__theme {
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin: 90px auto 26px;
    }
    .techs__text {
        font-size: 11px;
        line-height: 16px;
        margin: 0 14px 50px;
    }
    .techs__names {
        padding: 0;
        grid-template-columns: 84px 84px;
        grid-template-rows: repeat(auto-fill, 57px);
        gap: 10px;
        justify-items: center;
        justify-self: center;
        grid-auto-flow: row;
    }
    .techs__name {
        font-size: 12px;
    }
}