.navigation {
    display: flex;
    flex-direction: row;
    height: 32px;
    align-items: center;
    text-align: center;
}

.navigation__link {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    font-style: normal;
    color: #FFF;
    text-decoration: none;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    justify-content: center;
}

.navigation__link:last-of-type {
    margin-right: 0;
}

.navigation__link:hover {
    opacity: .6;
}

.navigation__link_login {
    display: flex;
}

.navigation__link_enter {
    color: #000000;
    background-color: #3DDC84;
    Width: 76px;
    Height: 32px;
    border-radius: 3px;
}

.navigation__link_is-active {
    font-weight: 500;
    height: 30px;
}

.profile-btn__image {
    width: 100px;
    height: 30px;
    background-image: url(../../images/profile/akk.svg);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin-left: 20px;
    border: none;
    background-color: Transparent;
    position: relative;
    top: 10px;
}

@media screen and (max-width: 320px) {
    .navigation__link {
        font-size: 10px;
        line-height: 26px;
        margin-right: 14px;
    }

    .navigation__link_enter {
        Width: 54px;
        Height: 26px;
    }
}