.savedMovies {
  display: flex;
  background-color: #202020;
  padding: 0 70px 177px;
  flex-direction: column;
  min-height: 100vh;
}

.savedMovies__search {
  width: 100%;
  border-bottom: 1px solid #424242;
  margin: 80px 0;
}